@import url("../css/variables.css");

.faq {
  padding: 80px 0 250px 0;
}

.faq_body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.faq_title {
  color: var(--Black);

  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.faq_accordion_item {
  padding: 32px 0;
  border-bottom: 1px solid var(--Light-Gray);
}

.faq_accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  color: var(--Black);

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  transition: margin-bottom 0.3s ease;
}

.faq_accordion_arrow {
  transition: transform 0.3s ease;
}

.faq_accordion_header.active {
  margin-bottom: 30px;
}

.faq_accordion_header.active > object {
  transform: rotate(180deg);
}

.faq_accordion_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0;
}

.faq_accordion_content p {
  color: var(--Gray);

  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

@media (max-width: 1000px) {
  .faq_title {
    font-size: 70px;
  }
}

@media (max-width: 800px) {
  .faq {
    padding: 40px 0 250px 0;
  }

  .faq_body {
    gap: 0px;
  }

  .faq_title {
    font-weight: var(--Mobile-FW);
    font-size: var(--Mobile-FS);
    line-height: var(--Mobile-LH);
  }
}
