@import url("../css/variables.css");

.cta_section__container {
  padding: 75px 0;
}

.cta_section_body {
  padding: 46px;
  border-radius: 24px;
  background: var(--Gradient);

  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  gap: 75px;

  flex-grow: 1;
}

.cta_section_info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 47%;
}

.cta_section_info_title {
  color: var(--Black);

  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -4px;
  text-transform: uppercase;

  text-align: justify;
}

.cta_section_info_description {
  color: var(--Gray);

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.cta_section_get_started {
  border-radius: 48px;
  background: var(--Black);

  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;

  color: var(--White);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.cta_section_body > img {
  position: absolute;

  z-index: 2;

  pointer-events: none;
}

.cta_dog_connect {
  top: -46px;
  right: 24px;
}

.cta_large_phone {
  bottom: 0;
  right: 325px;
  width: auto;
}

.cta_small_phone {
  bottom: 0;
  right: 60px;
  width: auto;
}

@media (max-width: 1200px) {
  .cta_section_body {
    padding: 36px;
  }

  .cta_section_info {
    width: 30%;
    font-size: 18px;
  }

  .cta_small_phone,
  .cta_large_phone {
    width: 40.5%;
  }

  .cta_small_phone {
    right: 2%;
  }

  .cta_large_phone {
    right: 25%;
  }
}

@media (max-width: 1000px) {
  .cta_section_info_title {
    font-size: 70px;
  }
}

@media (max-width: 800px) {
  .cta_section__container {
    padding: 25px;
  }

  .cta_section_body {
    padding: 28px;
  }

  .cta_section_get_started {
    padding: 12px 42px;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }

  .cta_dog_connect {
    top: -100px;
    right: -70px;
  }

  .cta_section_info {
    width: 75%;
  }

  .cta_small_phone {
    right: 1%;
    width: 30%;
  }

  .cta_large_phone {
    right: 18%;
    width: 30%;
  }

  .cta_section_info_title {
    font-weight: var(--Mobile-FW);
    font-size: var(--Mobile-FS);
    line-height: var(--Mobile-LH);

    text-align: start;
  }
}
