@import url("../css/variables.css");

.header {
  padding-block: 22px;
  position: sticky;
  top: 0;
  z-index: 50;
}
.header__body {
  padding-block: 8px;
  padding-inline-start: 16px;
  padding-inline-end: 8px;
  column-gap: 46px;
  row-gap: 5px;
  border-radius: 30px;
  background-color: black;

  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;

  position: relative;
}
.header__link-logo {
  font-size: 16px;
  font-weight: 700;
  line-height: 110%;
  transition: color 0.3s;

  color: white;
}

button#close_button > svg,
button#nav_burger > svg {
  transition: all 0.4s ease;
}

button#close_button:hover > svg,
button#nav_burger:hover > svg {
  stroke: var(--Aquamarine);
  fill: var(--Aquamarine);
}

.header__link-logo:hover {
  color: var(--Aquamarine);
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  row-gap: 5px;
}
.menu__link {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.menu__item.close {
  display: none;
}
.menu__link:hover {
  /* color: var(--Aquamarine); */
  text-decoration: underline;
}
.menu__link.active {
  font-weight: bold;
}

.actions-header {
  display: flex;
  column-gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
}

.actions-header__button {
  color: black;
  background-color: #fff;

  padding-block: 10px;
  padding-inline: 20px;

  font-size: 16px;
  font-weight: 700;

  border-radius: 24px;
}

.burger_menu_button {
  display: none;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}

@media (max-width: 1200px) {
  .menu__list {
    column-gap: 75px;
  }
}

@media (max-width: 991.98px) {
  .header {
    padding-block: 15px;
  }
  .header__body {
    padding: 15px;
    column-gap: 25px;

    /* direction: rtl; */
  }
  .menu__list {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;

    flex-direction: column;
    justify-content: start;
    gap: 20px;

    width: 40%;

    padding: 20px 14px;

    background: #000;
    border-left: 4px solid var(--Aquamarine);

    height: 100vh;

    transition: all 0.4s ease;
  }

  .menu__link {
    font-size: 18px;
  }

  .menu__item.close {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .menu__list.show {
    right: 0;
  }

  .menu__item {
    padding: 8px 15px;
  }

  .actions-header {
    column-gap: 10px;
  }
  .actions-header__button {
    padding-inline: 15px;
    display: none;
  }

  .burger_menu_button {
    display: flex;
  }
}
@media (max-width: 767.98px) {
  .header__body {
    padding-block: 8px;
    padding-inline-start: 24px;
    justify-content: space-between;
  }

  .menu__list {
    width: 100vw;
    border-left: none;
  }

  .menu__item {
    text-align: end;
  }

  .menu__link {
    font-size: 28px;
  }
}
@media (max-width: 439.98px) {
  .menu__list:not(:last-child) {
    margin-bottom: 30px;
  }
  .menu__button {
    display: block;
  }
  .menu__button:not(:last-child) {
    margin-bottom: 15px;
  }
  .actions-header__button {
    display: none;
  }
}
