@import url("../css/variables.css");

.vertical_slider__container {
  position: relative;
}

.baseliene {
  align-items: baseline;
}

.vertical_slider__body {
  padding: 100px 0 60px 0;

  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;

  position: relative;
  z-index: 3;
}

.vertical_slider_info {
  display: flex;
  flex-direction: column;
  gap: 85px;

  position: relative;
  z-index: 2;

  flex: 1 1 0;
}

.vertical_slider_info_title {
  color: var(--Black);

  font-size: clamp(65px, 80px, 125px);
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
}

.vertical_slider_info_subtitle {
  color: var(--Gray);

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.vertical_slider_info_subtitle > b {
  color: var(--Black);
}

.vertical_slider_track_wrapper_wrapper {
  position: relative;
  z-index: 1;

  padding-bottom: 85px;

  flex: 1 1 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: start;
}

.vertical_slider_track_wrapper_title {
  color: var(--Black);

  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;

  text-align: left;
}

.vertical_slider_track_wrapper {
  width: 100%;

  overflow: hidden;
}

.vertical_slider_track_wrapper_track {
  display: flex;
  flex-direction: column;
  gap: 16px;

  transition: transform 0.3s ease;
}

.vertical_slider_item {
  padding: 40px 32px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  border-radius: 24px;
  background-color: var(--Onyx);

  opacity: 0.25;

  transition: opacity 0.3s ease;
}

.vertical_slider_item.active {
  opacity: 1;
}

.vertical_slider_item_q {
  color: var(--White);

  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.vertical_slider_item_a {
  color: var(--White);

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

#arrow_down,
#arrow_up {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  border: solid white 1px;
  border-radius: 50%;
}

#arrow_up {
  top: -70px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
#arrow_down {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1000px) {
  .vertical_slider_info_title,
  .vertical_slider_info_subtitle,
  .vertical_slider_track_wrapper_title {
    text-align: center;
    width: 100%;
  }

  .vertical_slider_info_title {
    font-size: var(--Tablet-FS);
    letter-spacing: normal;
  }

  .vertical_slider__body {
    flex-direction: column;
    padding: 25px 0 15px 0;
    align-items: center;
  }

  .vertical_slider_info {
    gap: 40px;
  }

  #arrow_up {
    top: -40px;
  }
}

@media (max-width: 800px) {
  .vertical_slider_track_wrapper_wrapper {
    padding: 30px 0 85px 0;
  }

  .vertical_slider_info_title {
    font-size: var(--Mobile-FS);
  }

  .vertical_slider_info {
    gap: 20px;
  }

  .vertical_slider_item_q,
  .vertical_slider_item_a {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .vertical_slider_item {
    padding: 20px 12px;
    gap: 12px;
  }

  .vertical_slider_info_title {
    line-height: normal;
  }
}
