@import url("../../css/reset.css");
@import url("../../css/variables.css");
@import url("../../css/container.css");

/* ======================================================================================================================================================== */
.contac_us {
  background: var(--Gradient);
  padding-top: 82px;

  overflow: clip;
}

.contact_us_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding-top: 50px;
  padding-bottom: 155px;
}

.contact_us_info_block {
  display: flex;
  flex-direction: column;

  gap: 85px;
}

.contact_us_info_block_title {
  color: var(--Black);

  /* font-size: 154px; */
  font-size: clamp(80px, 10vw, 154px);
  font-style: normal;
  font-weight: 600;
  line-height: 140px;
  letter-spacing: -7.7px;
  text-transform: uppercase;
}

.contact_us_info_block_subtitle {
  color: var(--Gray);

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  padding-inline: 50px;
}

.contact_us_info_block_subtitle > b {
  color: var(--Black);
  font-weight: 700;
}

.contact_us_form_block,
.contact_us_info_block {
  flex: 1 1 0;
}

.contact_us_form_block {
  padding: 0 32px 40px 32px;

  width: 710px;

  border-radius: 48px;
  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact_us_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 45px;
  column-gap: 20px;
}

.contact_us_input {
  display: flex;
  padding: 4px 0px 8px 0px;

  color: var(--Black);

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;

  outline: none;
  border: none;

  border-bottom: 1px solid var(--Light-Gray);

  background: transparent;
}

.contact_us_input::placeholder {
  color: var(--Light-Gray);
}

.input_label.input_error .contact_us_input {
  border-color: var(--Red);
}

.checkbox_label,
.checkbox_input_label {
  position: relative;
  width: 100%;
}

.checkbox_input_label {
  height: fit-content;
}

.input_error::after {
  content: attr(data-error);
  color: var(--Red);
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  position: absolute;
  top: 100%; /* below the input */
  left: 0;
  margin-top: 4px;
  white-space: nowrap;
}

.vets_field_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

.vets_field_wrapper .input_label {
  width: 50%;
}

.contact_us_submit_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.contact_us_submit_button {
  border-radius: 56px;
  background: var(--Onyx);
  display: flex;
  padding: 14px 40px;

  color: var(--White);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

@media (max-width: 1300px) {
  .contact_us_info_block {
    gap: 40px;
  }

  .contact_us_info_block_subtitle {
    padding-inline: 25px;
  }
}

@media (max-width: 500px) {
  .contact_us_info_block_title {
    font-size: 13vw;
    letter-spacing: normal;
    line-height: normal;
  }

  .contact_us_info_block_subtitle {
    font-size: 18px;
  }

  .contact_us_form {
    grid-template-columns: 1fr;
  }

  .input_label {
    grid-column: 1 / span 2;
  }

  .vets_field_wrapper {
    flex-direction: column;
    gap: 45px;
  }

  .vets_field_wrapper .input_label {
    width: 100%;
  }

  .contact_us_submit_button {
    font-size: 20px;
    padding: 8px 18px;
  }
}

@media (max-width: 1000px) {
  .contact_us_body {
    flex-direction: column;
    padding-top: 0;
  }

  .contact_us_info_block {
    align-items: center;
    gap: 10px;
  }

  .contact_us_info_block_subtitle {
    text-align: center;
  }

  .contact_us_form_block {
    /* padding-top: 40px; */

    width: 100%;

    row-gap: 25px;
  }

  .contact_us_submit_button_wrapper {
    justify-content: start;
  }
}

/* ======================================================================================================================================================== */
